:root {
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
}
.container {
    display: flex;
    align-items: center;
    width: 70vw;
    
}
.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}
.title {
    color: white;
    font-size: 48px;
}
.desc {
    color: hsl(0, 0%, 100%,0.75);
    font-size: 16px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.top {
    background-color: var(--Blue);
    width: 91.5%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 7.5px hsl(0, 0%, 0%,0.2);
}
.title-desc {
    color: hsl(0, 0%, 100%,0.75);
    text-align: center;
}
b {
    color: white;
}
.forms {
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 7.5px hsl(0, 0%, 0%,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.form-input {
    padding: 1rem;
    padding-left: 1.5rem;
    width: 435.19px;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    position: relative;
}

.form {
    text-align: right;
    
}
.form-input::placeholder {
    font-weight: 600;
}
.error {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
    color: var(--Red);
}
.errorImg {
    display: block;
    position: relative;
    left: 90%;
    bottom: 60px;
    z-index: 1;
}
.btn > button {
    border: 0;
    background-color: var(--Green);
    padding: 1rem 8.5rem;
    color: white;
    border-radius: 5px;
}
.form-p {
    font-size: 10px;
    color: var(--Grayish-Blue);
    text-align: center;
    margin-top: 10px;
}
.form-p > b{
    color: var(--Red);
}
.div-error {
    height: 1rem;
    text-align: right;
}
button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.input-error {
    border: 2px solid var(--Red);
}